fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
python-dotenv
httpx
pytest
pytest-cov
black
pytest-asyncio
pytest-mock
pydantic-settings
email-validator
python-json-logger
anyio
jinja2
beautifulsoup4